@import "tailwindcss";

body {
  font-family: "Inter", sans-serif;
}


#bottom {
    background: linear-gradient(transparent, black);
}

/* Hide scrollbar but allow scrolling */
.scrollbar-hide {
  -ms-overflow-style: none;     /* IE and Edge */
  scrollbar-width: none;        /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;                /* Chrome, Safari */
}
